@font-face{
    src: url(/src/fonts/Vazir-Thin.woff);
    font-family: Vazir-Thin;
}

@font-face{
    src: url(/src/fonts/Vazir-Medium-FD-WOL.ttf);
    font-family: Vazir-Medium-FD-WOL;
}

.programming-container {
    text-align: center;
    padding: 25px;
    font-family: Arial, sans-serif;
    font-family: Vazir-Thin;
    background-color: #dff2ff;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
    font-family: Vazir-Medium-FD-WOL;
}

.card button {
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.card:nth-child(1):hover { box-shadow: 0 10px 20px rgba(255, 106, 0, 0.4); }
.card:nth-child(2):hover { box-shadow: 0 10px 20px rgba(166, 68, 244, 0.4); }
.card:nth-child(3):hover { box-shadow: 0 10px 20px rgba(93, 115, 201, 0.4); }
.card:nth-child(4):hover { box-shadow: 0 10px 20px rgba(0, 184, 148, 0.4); }
.card:nth-child(5):hover { box-shadow: 0 10px 20px rgba(255, 77, 77, 0.4); }
.card:nth-child(6):hover { box-shadow: 0 10px 20px rgba(0, 150, 136, 0.4); }
.card:nth-child(7):hover { box-shadow: 0 10px 20px rgba(63, 81, 181, 0.4); }


.more-btn{
    outline: none;
    background-color: #C6E7FF;
    box-shadow: 2px 6px 18px #91d1ff;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-family: Vazir-Medium-FD-WOL;
}

.more-btn:hover{
    background-color: #FFDDAE;
    box-shadow: 2px 6px 30px #ffd08e;
    transition: all 1s;
}
